# AmoCRM
AMO_SUBDOMAIN=moonai
AMO_CLIENT_ID=
AMO_CLIENT_SECRET=
AMO_AUTH_CODE=
# После первой авторизации эти заполнятся автоматически:
AMO_ACCESS_TOKEN=
AMO_REFRESH_TOKEN=

# Wazzup
WAZZUP_API_KEY=92049766da12455f930692aa3ff37952
WAZZUP_CHANNEL_ID=

# Claude (Anthropic)
ANTHROPIC_API_KEY=
